* text=auto eol=lf

*.bin   binary
*.elf   binary
*.sav   binary
*.png   binary
*.jpg   binary
*.jpeg  binary
*.gif   binary
*.webp  binary
*.heic  binary
*.zip   binary
*.ttf   binary
*.otf   binary
*.woff  binary
*.woff2 binary
